<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Panadería del Valle - Sitio web{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="" rel="icon">
    <!-- Load static tag -->
    {% load static %}

    <!-- Favicon -->


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'core/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Hoja de estilo personalizada de Bootstrap -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Hoja de estilo del template -->
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner de carga -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Fin del spinner -->


    <!-- Barra superior -->
    <div class="container-fluid top-bar bg-dark text-light px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Inicio</a></li>
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Empleo</a></li>
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Términos</a></li>
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Privacidad</a></li>
                </ol>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>Síguenos:</small>
                <div class="h-100 d-inline-flex align-items-center">
                    {% if URL_FACEBOOK != null%}
                    <a class="btn-lg-square text-primary border-end rounded-0" href="{{URL_FACEBOOK}}"><i class="fab fa-facebook-f"></i></a>
                    {% endif %}
                    {% if URL_TWITTER != null%}
                    <a class="btn-lg-square text-primary border-end rounded-0" href="{{URL_TWITTER}}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if URL_LINKEDIN != null%}
                    <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    {% endif %}
                    {% if URL_INSTAGRAM != null%}
                    <a class="btn-lg-square text-primary pe-0" href="{{URL_INSTAGRAM}}"><i class="fab fa-instagram"></i></a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!-- Fin de la barra superior -->


    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text-primary m-0">Panadería del Valle</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto p-4 p-lg-0">
                <a href="{% url 'home'%}" class="nav-item nav-link active">Inicio</a>
                <a href="{% url 'about'%}" class="nav-item nav-link">Nosotros</a>
                <a href="{% url 'service'%}" class="nav-item nav-link">Servicios</a>
                <a href="{% url 'products' %}" class="nav-item nav-link">Productos</a>
                <a href="{% url 'team'%}" class="nav-item nav-link">Nuestro Equipo</a>
                <a href="{% url 'testimonial'%}" class="nav-item nav-link">Testimonios</a>
                <a href="{% url 'contact'%}" class="nav-item nav-link">Contacto</a>
            </div>
            <div class=" d-none d-lg-flex">
                <div class="flex-shrink-0 btn-lg-square border border-light rounded-circle">
                    <i class="fa fa-phone text-primary"></i>
                </div>
                <div class="ps-3">
                    <small class="text-primary mb-0">Llámanos</small>
                    <p class="text-light fs-5 mb-0">+012 345 6789</p>
                </div>
            </div>
        </div>
    </nav>
    <!-- Fin de la barra de navegación -->

    {% if request.path != "/" %}

        <!-- Encabezado de la página -->
        <div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="container text-center pt-5 pb-3">
                <h1 class="display-4 text-white animated slideInDown mb-3">{% block header_Title %}Acerca de Nosotros{% endblock %}</h1>
            </div>
        </div>
        <!-- Fin del encabezado de la página -->

    {% endif %}

    {% block content %}{% endblock %}

    <!-- Pie de página -->
    <div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Dirección de la Oficina</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Calle 123, Quito, Ecuador</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@panaderiadelvalle.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Enlaces Rápidos</h4>
                    <a class="btn btn-link" href="">Nosotros</a>
                    <a class="btn btn-link" href="">Contáctanos</a>
                    <a class="btn btn-link" href="">Nuestros Servicios</a>
                    <a class="btn btn-link" href="">Términos y Condiciones</a>
                    <a class="btn btn-link" href="">Soporte</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Enlaces Rápidos</h4>
                    <a class="btn btn-link" href="">Nosotros</a>
                    <a class="btn btn-link" href="">Contáctanos</a>
                    <a class="btn btn-link" href="">Nuestros Servicios</a>
                    <a class="btn btn-link" href="">Términos y Condiciones</a>
                    <a class="btn btn-link" href="">Soporte</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Galería de Fotos</h4>
                    <div class="row g-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{% static 'core/img/product-1.jpg' %}" alt="Imagen">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{% static 'core/img/product-2.jpg' %}" alt="Imagen">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{% static 'core/img/product-3.jpg' %}" alt="Imagen">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{% static 'core/img/product-2.jpg' %}" alt="Imagen">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{% static 'core/img/product-3.jpg' %}" alt="Imagen">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{% static 'core/img/product-1.jpg' %}" alt="Imagen">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin del pie de página -->

    <!-- Derechos de autor -->
    <div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Panadería del Valle</a>, Todos los derechos reservados.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** Este template es gratuito siempre y cuando mantengas el enlace de créditos del autor. Si deseas utilizar el template sin el enlace de créditos del autor, puedes adquirir la Licencia de Eliminación de Créditos en "https://htmlcodex.com/credit-removal". Gracias por tu apoyo. ***/-->
                    Diseñado por <a href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distribuido por: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de los derechos de autor -->

    <!-- Bibliotecas de JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'core/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'core/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'core/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'core/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'core/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- JavaScript del template -->
    <script src="{% static 'core/js/main.js' %}"></script>
</body>

</html>