<!-- about.html -->
{% extends "core/base.html" %}
{% block title %}Acerca de Nosotros{% endblock %}
{% block header_Title %}Acerca de Nosotros{% endblock %}
{% block content %}
{% load static %}

<!-- Acerca de Nosotros -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            {% for about in pages %}
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="{% static 'core/img/about-1.jpg' %}" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="{% static 'core/img/about-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">// Acerca de Nosotros</p>
                    <h1 class="display-6 mb-4">{{ about.title }}</h1>
                    {{ about.content | safe }}
                    {% if user.is_authenticated%}
                    <p><a href="{% url 'admin:about_about_change' about.id %}">Editar</a></p>
                    {%endif%}
                    
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Productos de Calidad
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Productos Personalizados
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Pedido en Línea
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Entrega a Domicilio
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="#">Leer Más</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Fin Acerca de Nosotros -->

{% endblock %}