{% extends "core/base.html" %}
{% block title %}Contacto{% endblock %}
{% block header_Title %}Contacto{% endblock %}
{% block content %}
{% load static %}

<!-- Contacto -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">// Contáctanos</p>
            <h1 class="display-6 mb-4">Si tienes alguna consulta, por favor contáctanos</h1>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                {% if 'ok' in request.GET %}
                <p><b>Su mensaje se ha enviado correctamente, pronto nos pondremos en contacto</b></p>
                {% endif %}
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Nombre</label>
                                {{contact_form.name}}
                                {{contact_form.name.errors}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Email</label>
                                {{contact_form.email}}
                                {{contact_form.email.errors}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Mensaje</label>
                                {{contact_form.message}}
                                {{contact_form.message.errors}}
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary rounded-pill py-2 px-4" type="submit">Enviar Mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Fin Contacto -->

<!-- Mapa de Google -->
<div class="container-xxl py-6 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <iframe class="w-100 mb-n2" style="height: 450px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
        frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- Fin Mapa de Google -->
{% endblock %}